@import '../../node_modules/simpledotcss/simple.css';

:root {
  /* --primary: red; */
  padding: 0 25px;
  /* background: var(--backgroundUrl); */
  background-color: var(--color-primary);
  color: var(--color-text)
}

body {
  background: transparent!important;
}

main {
  max-width: 100%;
  background: none;
}

p {
  width: 75%;
}

h2, h3, h4, h5, h6 {
  color: var(--color-secondary);
}

iframe body {
  background: tranparent;
  width: 100%;
  height: 100%;
}