/* @import '../../node_modules/simpledotcss/simple.css'; */

:root {
  --bg: #ffffff;
}

main {
  max-width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.left {
  float: left;
  width: 23%;
}