<!DOCTYPE html>
<html>

  <head>
    <title>My Presentation</title>
    <link rel="stylesheet" href="/node_modules/greenwood-starter-presentation/dist/styles/theme.css"></link>
    <link rel="stylesheet" href="/node_modules/greenwood-starter-presentation/dist/styles/main.css"></link>
  </head>

  <body>
    <content-outlet></content-outlet>

    <script type="module" src="/node_modules/greenwood-starter-presentation/dist/components/link-target.js"></script>
    <script type="module" src="/node_modules/greenwood-starter-presentation/dist/components/iframe-key-capture.js"></script>
  </body>

</html>