<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/node_modules/greenwood-starter-presentation/dist/styles/theme.css"></link>
    <link rel="stylesheet" href="/node_modules/greenwood-starter-presentation/dist/styles/main.css"></link>

    <style>
      :root ul, :root ol {
        width: 50%;
        margin: 0 auto;
        padding-left: 25%;
      }
    </style>
  </head>

  <body>
    <content-outlet></content-outlet>

    <script type="module" src="/node_modules/greenwood-starter-presentation/dist/components/link-target.js"></script>
    <script type="module" src="/node_modules/greenwood-starter-presentation/dist/components/iframe-key-capture.js"></script>
  </body>

</html>